%div.hero-unit
  %h1= @title
  %p
    FishBowl is a Mac/Linux controller for your Application.
  %ul
    %li
      %a{:href => "https://github.com/shokai/fishbowl"} https://github.com/shokai/fishbowl
%h2 Install
%pre
  \% git clone git://github.com/shokai/fishbowl.git
  \% cd fishbowl
  \% gem install bundler
  \% bundle install
  \% foreman start