%ul#fields
  - @plugin.fields.values.sort{|a,b| a[:index] <=> b[:index] }.each do |field|
    %li
      #{field[:name]} :
      %input{:type => :text, :size => 40, :value => field[:default], :class => "field", :name => field[:name]}
  %li
    %input{:type => :button, :value => "submit", :id => "btn_submit"}
%h2 code
%div#code
  %pre

- content_for :foot_script do
  :javascript
    var post_data = function(){
      _post_data = {};
      var fields = $('.field');
      for(var i = 0; i < fields.length; i++){
        var field = fields[i];
        _post_data[field.name] = field.value;
      }
      return _post_data;
    };
    var show_sample_code = function(){
      var code =
        ['<scr'+'ipt src="#{fishbowl_js}">',
         '<script type="text/javascript">',
         '  fishbowl.plugin("#{@plugin.name}",'+JSON.stringify(post_data())+');',
         '</scr'+'ipt>'].join("\n");
      $("#code pre").text(code);
    };
    $(function(){
      $("#btn_submit").click(function(){
        fishbowl.plugin("#{@plugin.name}", post_data());
      });
      show_sample_code();
      $('.field').keyup(show_sample_code);
    });
