- content_for :title do
  = @plugin.name

- content_for :head do
  :javascript
    io.on("connect", function(session_id){
      console.log("connect "+session_id);
    });
    $(function(){
      $("#btn_submit").click(function(){
        console.log("submit");
        var post_data = {};
        var fields = $('.field');
        for(var i = 0; i < fields.length; i++){
          var field = fields[i];
          console.log(field);
          post_data[field.name] = field.value;
        }
        console.log(post_data);
        io.push("__fishbowl_plugin_#{@plugin.name}", post_data);
      });
    });

%ul#fields
  - @plugin.fields.values.sort{|a,b| a[:index] <=> b[:index] }.each do |field|
    %li
      #{field[:name]} : 
      %input{:type => :text, :size => 40, :value => field[:default], :class => "field", :name => field[:name]}
  %li
    %input{:type => :button, :value => "submit", :id => "btn_submit"}
