%div.hero-unit
  %h1= @title
  %p
    Bowl is a Mac/Linux controller for your Application.
  %ul
    %li
      %a{:href => "https://github.com/shokai/bowl"} https://github.com/shokai/bowl
%h2 Install and Run
%pre
  \% gem install bowl
  \% bowl_start
