%div.hero-unit
  %h1= @title
  %p
    Bowl is a Mac/Linux controller for your Application.
  %ul
    %li
      %a{:href => "https://github.com/shokai/bowl"} https://github.com/shokai/bowl
%h2 Install
%pre
  \% git clone git://github.com/shokai/bowl.git
  \% cd bowl
  \% gem install bundler
  \% bundle install
  \% foreman start